.graphs {
  display:block;
  text-align: center;
  width:50%;
  margin: 0 auto;
}

.graph2 {
  width:70%;
  margin: 0 auto;
  text-align:center;
  display:block;
}

.googlemap {
  text-align: center;
  width:75%;
  margin: 0 auto;
}
h1 {
  text-align:center;
}

p {
  margin-left: 10em;
  margin-right: 10em;
}

.graphic-container {
  margin-right: 10em;
  margin-left: 10em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: ;
  clear: both;
  display: table;

}

.container {
  margin: 0 auto;
}

blockquote {
  font-weight:bold;
  margin-left:5em;
  margin-right:5em;
}

em {
  text-align: center;
  margin: 0 auto;
}
body
{

}

h3 {
  text-align:center;
  margin: 0 auto;
}

h5
{
  text-align:center;
}

#CampFire {
  margin:0 auto;
  text-align:center;
}

table
 {margin: 0 auto;
 text-align:center;
  width:50%}

#Fire

{
 width:100%
}

.Center {
  margin:0 auto;
  text-align:center;
}

#Table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin:0 auto;}

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }

  {margin:0 auto;
  text-align:center;}
}
