.container {
  max-width: 1000px;
  width:100%;
  margin:0 auto;
}

h1 {
  text-align:center;
  font-size: 3em;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
}

.byline {
margin:0 auto;
text-align:center;
font-size: 1em;
font-weight:700;
font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align:left;

}

.hero {
  width: 100%;
  text-align: center;
}

.hero-image {
  width:100%;
  max-width:800px;
}

.intro {
  margin: 0 auto;
  margin-top:25px;
  margin-bottom: 25px;
  width:75%;
  text-align: center;
  font-size: 1.25em;
  font-weight:700;
  max-width:800px;
  font-family: 'Montserrat', sans-serif
}
.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}


.stars {
  width: 15px;
  margin-right: 5px;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
 font-weight:bold;

}

.row {
  text-align:center;
}

h3 {
  font-size:20px;
}

p{
 text-align:left;
 line-height:180%;
}

.stackimage {
width:100%;
max-width:900px;
margin:0 auto;
padding-top:30px;
height:100%;
}

.caption {
  width:100%;
 max-width:900px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

body {

font-family: 'PT Serif', serif;
}

footer {
  background-color:black;
  color:white;
  text-align:center;
  height: 100px;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
}
