.container {
  max-width: 1000px;
  width:100%;
  margin:0 auto;
}

h1 {
  text-align:center;
  font-size: 3em;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
}

.byline {
margin:0 auto;
text-align:center;
font-size: 1em;
font-weight:700;
font-family: 'Montserrat', sans-serif;
}


#stars {
  text-align:center;
  margin: 0 auto;
}

h2 {
  text-align:left;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;

}

h3
{
text-align:center;
font-size:2em;
font-weight:400;
font-family: 'Montserrat', sans-serif;
}

.hero {
  width: 100%;
  text-align: center;
}

.hero-image {
  width:100%;
  max-width:800px;
}

.intro {
  margin: 0 auto;
  margin-top:25px;
  margin-bottom: 25px;
  width:100%;
  text-align: center;
  font-size: 1.25em;
  max-width:800px;
  font-weight:400;
  font-family: 'Montserrat', sans-serif
}
.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}


.stars {
  width: 15px;
  margin-right:5px;}

.navbar {
 font-family: 'Montserrat', sans-serif;
 font-weight:bold;

}

.row {
  text-align:center;
}

.photo {
  margin:0 auto;
}


p{
 text-align:left;
 line-height:180%;
 font-weight:400;
}

.stack-image {
width:75%;
max-width:900px;
margin:0 auto;
padding-top:30px;
height:100%;
}

.caption {
  width:100%;
 max-width:900px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
 text-align:center;
}

.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
 text-align:center;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

body {

font-family: 'PT Serif', serif;
}

footer {
  background-color:black;
  color:white;
  height: 100px;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}
